extends ../layout

block content
  .page-header
    h3 Dashboard
    p Welcome back, #{user.profile.name || user.email}

  .row
    .col-sm-12
      h4 My Schedule
      #schedule-tiles
        each val in user.schedulesId
          h4
            a.schedule-tile.col-xs-12.col-sm-3.col-sm-offset-1(href="/schedule?id=" + "#{val._id}" ) #{val.name}

        .createSchedule.schedule-tile.new-schedule.col-xs-12.col-sm-3.col-sm-offset-1
          a create new schedule...
  br
  .row
    .col-sm-12
      a.btn.btn-default(href="/team/profile") create new team...




