extends ../layout

block content
  form.form-horizontal.col-sm-5
    h3 Team Profile
    hr
    .form-group
      label.col-sm-3.control-label(for='gravatar') Picture
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        .control-label.pull-left
          p
     .form-group
      label.col-sm-3.control-label(for='name') Username
      .col-sm-7
        .control-label.pull-left
          p
    .form-group
      label.col-sm-3.control-label(for='desc') Description
      .col-sm-7
        .control-label.pull-left
          p
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
          .control-label.pull-left
            p
  .col-xs-12.col-sm-7
    h3 Schedules
    hr
    .schedule-tile.col-xs-12.col-sm-3.col-sm-offset-1 test1
    .schedule-tile.col-xs-12.col-sm-3.col-sm-offset-1 test2
    .schedule-tile.col-xs-12.col-sm-3.col-sm-offset-1 test3
  .col-xs-12.col-sm-7.pull-right
    h3 Activity
    hr

