.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        p Home
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              .fa.fa-plus
              | Create ...
            ul.dropdown-menu
              li
                a(href='/schedule') Create schedule
              li
                a(href='/team/profile') Create team
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              .fa.fa-bell
              span.badge
             ul.dropdown-menu
              li
                a(href='#') something...
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              i.fa.fa-chevron-down
            ul.dropdown-menu
              li
                a(href='/dashboard') Dashboard
              li
                a(href='/account/profile') Profile
              li
                a(href='/account') Settings
              li
                a(href='/help') Help
              li.divider
              li
                a(href='/logout') Logout
